<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details of event</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1 th:text="${event.name}"></h1>
    <p><strong>Description:</strong> <span th:text="${event.description}"></span></p>
    <p><strong>Date:</strong> <span th:text="${#temporals.format(event.date, 'dd-MM-yyyy HH:mm')}"></span></p>
    <p><strong>Capacity:</strong> <span th:text="${event.capacity}"></span></p>

    <a href="/events" class="btn-back">⬅ Return to list</a>
</div>
</body>
</html>